/* responsive */
@media only screen and (max-width:767px) {
    .container{
        max-width: 75%;
    }
    .nav-bar .container{
        max-width: 90%;
    }
    .fourth-content{
        flex-wrap: wrap;
    }
    .seventh-wrapper,
    .fourth-content .major-fields{
        flex:0 0 100%;
        max-width: 100%;
        margin-bottom: 16px;
    }
    .bottom-second-content{
        flex-direction: column;
    }
    .catego-item{
        flex-basis: 100%;
    }
}
@media only screen and (min-width:768px) and (max-width:991px) {
    .container{
        max-width: 720px;
    }
    .seventh-wrapper,
    .fourth-content .major-fields{
        flex:0 0 50%;
        max-width: 50%;
        margin-bottom: 16px;
    }
}

/* common for screen < 992px */
@media only screen and (max-width:991px){
    /* responsive nav */
    .nav_container_left{
        display: none;
    }
    .nav_btn_res i{
        opacity: 1;
    }
    /* responsive content 2 and 5 */
    .seventh-content,
    .fourth-content{
        flex-wrap: wrap;
    }
    .seventh-content .seventh-wrapper{
        text-align: center;
    }
    /* responsive blog */
    .responsive_align{
        flex-direction: column;
    }
    .responsive_align:last-child{
        flex-direction: column-reverse;
    }
    .mg-res,
    .mb100{
        margin-bottom: 75px;
    }
    .col-full{
        flex: 0 0 100%;
        max-width: 100%;
    }
    /* align contact icon */
    .bottom-link{
        align-items: center;
        justify-content: center;
    }
    /* align footer */
    .footer-wrapper p{
        text-align: center;
    }
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .container{
        max-width:960px;
    }
}
@media only screen and (min-width:1200px) {
    .container{
        max-width:1140px;
    }
}
