/* import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    --red:#ff0000;
    --black:#000;
    --white:#fff;
    --ruddy-skin:#f7f8fa;
    --blue:#1998FF;
    --dark_blue:#03c;
    --purple:#000637;
    --yellow:#ffad00;
    --light_purple:#bbbbf2;
    --cyan:#5eb6b3;
    --gray:#6c757d;
}

@keyframes slide {
    from{
        margin:0 auto;
    }
    to{
        margin:28px auto;
    }
}
@keyframes slideIn {
    from{
        transform:translateX(100%);
    }
    to{
        transform:translateX(0);
    }
}
@keyframes slideRight{
    0%{
        transform:translateX(-100%);
        opacity: 0;
    }
    100%{
        transform:translateX(0);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform:translateX(100%);
        opacity: 0;
    }
    100%{
        transform:translateX(0);
        opacity: 1;
    }
}

/* reset */
*{
    box-sizing: border-box;
    margin: 0; padding: 0;
    border: 0;
    outline: 0;
}
html{
    scroll-behavior: smooth;
}
button,
body{
    font:15px/1.5 'Poppins', sans-serif;
}

/* trick-tip */
.anchor-content::before{
    content:'';
    display: block;
    height: 75px;
    margin-top: -75px;
    visibility: hidden;
}

/* common */
.ruddy-skin{
    background-color: var(--ruddy-skin);
}
.container{
    margin:0 auto;
    padding:0 15px;
}
.align{
    display:flex;
    align-items: center;
    justify-content: center;
}
.content-desc{
    font-size: 17px;
    line-height: 20px;
}
.opacity{
    opacity: 0.7;
}
.plr15{
    padding:0 15px;
}
.pb8{
    padding-bottom: .5rem !important;
}
.p16{
    padding: 1rem 0 !important;
}
.pb16{
    padding-bottom: 1rem;
}
.mgcontent{
    margin-left: -15px;
    margin-right: -15px;
}
.mb100{
    margin-bottom: 100px;
}
.mb16{
    margin-bottom: 1rem;
}
.mb8{
    margin-bottom: 0.5rem;
}
.mt10{
    margin-top: 10px;
}
.btn-padding{
    padding:.625rem 1.25rem;
}
.btn-font{
    font:.875rem/1.5 'Poppins', sans-serif;
}
.btn-border{
    border: 1px;
    border-style: solid;
    border-radius: 3px;
    transition: all ease-in-out .5s;
    cursor: pointer;
}
.txt-left{
    text-align: left;
}
.txt-align{
    text-align: center;
}
.title{
    font:35px/1.5 'Poppins',sans-serif;
    font-weight: 500;
}
.blue-btn{
    background-color: var(--blue);
    color:var(--white);
    border-color: var(--blue);
    cursor: pointer;
}
.blue-btn:hover{
    background-color:var(--white);
    color: var(--blue);
}
.title-content{
    padding-bottom: 48px;
}
.font500{
    font-weight: 500;
}
.title-items{
    font-size: 20px;
    line-height: 1.2;
}
.read-more{
    text-decoration: none;
    color:#000;
    transition-duration:1s;
}
.read-more:hover{
    color:var(--red);
}
.res-img{
    max-width: 100% !important;
}

/* nav */
.nav-bar{
    padding:49px 0 63px;
}
.nav-bar .nav_container_right{
    /* cái này để chia đôi header */
    width: 100%;
    display: flex;
}
.nav_wrapper{
    display: flex !important;
}
.nav_container_right img{
    vertical-align: middle;
    object-fit: contain;
}
.nav_container_right .nav_btn_res{
    flex-basis: 90%;
    padding: 4px 12px;
    margin-left: 30px;
    text-align: right;
    background-color: var(--ruddy-skin);
    cursor: pointer;
}
.nav_btn_res i{
    font-size: 24px;
    opacity: 0;
}
.nav_container_left .nav_items{
    flex:1;
}
.nav_contact{
    margin-left: 148px;
    white-space: nowrap;
}
.nav-link{
    padding: 17px;
    text-decoration: none;
    color:var(--black);
}
.nav-link:hover{
    color:var(--red);
}
    /* scrolling-nav */
.fixed-nav{
    position: fixed;
    right:0;
    left:0;
    /* this to make animation */
    top:-50px;
    margin-top: 50px;
    background-color: var(--white);
    padding:18px 0;
    transition: margin ease-in-out .5s;
    box-shadow: 0 0 30px rgba(0, 0, 0,0.2);
    z-index: 5;
}
.fixed-nav .nav_contact{
    padding:5px 10px;
}
    /* scrolling-spy */
.active{
    color:var(--red);
}

/* modal */
.modal{
    position: fixed;
    top:0; right: 0;
    left: 0; bottom: 0;
    background-color: rgba(0,0,0,0.4);
    display: none;
    justify-content: center;
    z-index: 10;
}
.modal-open{
    display: flex;
}
.modal .modal-dialog{
    position: relative;
    margin:28px auto;
    width:auto;
    animation: slide linear 0.3s;
}
.modal .modal-container{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--white);
    width: 500px;
    border-radius: 4.8px;
}

/* modal-container */
.modal-container-tilte{
    padding:16px;
    font:25px/1.5 'Poppins',sans-serif;
}
.modal .modal-container .modal-title{
    display: block;
}
    /* modal-bottom */
.modal-bottom{
    padding:0 40px;
}
.modal-bottom label{
    font:16px/1.5 'Poppins',sans-serif;
}
.modal-bottom textarea,
.modal-bottom input{
    display: block;
    width: 100%;
    padding:6px 12px;
    background-color: var(--ruddy-skin);
}
    /* modal-footer */
.modal_footer{
    padding:5px 0 20px 39px;
}
.modal-btn1{
    margin-right: 4px;
    border: 1px solid #fc7341;
    background-color: #fc7341;
    color:var(--white);
}
.modal-btn2{
    margin-left: 4px;
    border: 1px solid var(--cyan);
    background-color: var(--cyan);
    color:var(--white);
}
.modal-btn1:hover{
    color:#fc7341;
    background-color: var(--white);
}
.modal-btn2:hover{
    background-color: var(--white);
    color:var(--cyan);
}
.modal-mess{
    width: 100%;
    resize: vertical;
    overflow-y: auto;
}
/* nav-collapse responsive */
.side-bar::before{
    content:'';
    position: fixed;
    top:0; right: 0; left: 0; bottom: 0;
    background-color: rgba(0, 0, 0,0.7);
}
.nav-collapse-container{
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-right:-50px;
    padding: 50px 0;
    top:0; bottom: 0;
    right: 50px;
    width: 250px;
    background-color: var(--white);
    justify-content: flex-start;
    align-items: flex-start;
    animation: slideIn ease-in-out .5s;
    z-index: 20;
}
.nav-hide{
    display: none;
}
.nav-collapse-container .res-close{
    flex:1;
    text-align: right;
    font-size: 20px;
}
.nav-collapse-container .res-close button{
    padding-right: 20px;
    background-color: var(--white);
    cursor: pointer;
}
.nav-collapse-container .nav-collapse-item{
    display:flex;
    width:100%;
    margin-left: 15px;
}
.nav-collapse-container .nav_items{
    font-size:16px;
    flex:0;
    padding:15px;
}
.nav-collapse-container .btn-res{
    margin: 2px 10px 0 30px
}

/* main-content */
.main-content .content-title{
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
}
.btn-content-item1{
    background-color: #fec4af;
    color: #fc7341;
    margin-right: .25rem;
}
.btn-content-item2{
    background-color: #b7eddd;
    color: #5ed6b3;
    margin-left: .25rem;
}
.btn-content-item2:hover,
.btn-content-item1:hover{
    background-color:var(--white);
}

/* content */
.content-wrapper{
    margin-top: 27px;
}
.content-wrapper .top-second-content{
    margin-top: 78px;
    margin-bottom: 48px;
}
.content-wrapper .bottom-second-content{
    display: flex;
    text-align: left;
}

/* second-content-description */
.catego-container{
    display: flex;
}
.catego-item{
    flex-basis: 60%;
}
.categ2{
    justify-content: center;
}
.categ3{
    justify-content: flex-end;
}
    /* mouseout */
.catego-item img{
    transition: all ease-in-out .5s;
}
    /* hover */
.catego-item img:hover{
    transform: scale(1.1);
    transition: all ease-in-out .5s;
}

/* third-content */
.third-content h3{
    font-size:30px;
    line-height: 1.2;
}
.top-third-wrapper{
    max-width: 50%;
}
.bottom-third-wrapper{
    max-width: 66%;
}
.col-1{
    flex:0 0 42%;
    max-width: 42%;
}
.col-2{
    flex:0 0 58%;
    max-width: 58%;
}
.third-desc{
    padding: 24px 0;
}
.slide-left{
    animation: slideLeft 1.5s ease-in-out;
}
.slide-right{
    animation: slideRight 1.5s ease-in-out;
}

/* fourth-content */
.fourth-content .major-fields{
    flex:1;
}
.major-fields .major-fields-box{
    position: relative;
    padding: 75px 0;
    height:256px;
    overflow: hidden;
    margin-bottom: 24px;
}
.major-img-marketing{
    background-color: var(--purple);
}
.major-img-webdev{
    background-color: var(--yellow);
}
.major-img-webdes{
    background-color: var(--light_purple);
}
.major-img-software{
    background-color: var(--cyan);
}

/* overlay-img */
.overlay-img{
    position: absolute;
    top:0; right:0; left: 0; bottom: 0;
    background-color: var(--dark_blue);
    transition:all ease-in-out .8s;
    opacity: 0;
}
.major-desc h6,
.major-desc h5{
    font:17px/1.2 'Poppins',sans-serif;
    padding-bottom: 4px;
}
.major-fields:hover .overlay-img{
    opacity: 0.9;
}
.major-fields:hover .major-desc{
    color: var(--dark_blue);
}
.major-desc h6{
    color:var(--white);
}
.major-desc button{
    font-size:12px;
    border-radius: 3px;
    border-color: transparent;
    padding:6px 14px;
}
.major-desc button:hover{
    background-color: var(--red);
    color: var(--white);
}

/* fifth-content */
.profile-container{
    padding: 16px 0;
}
.profile-items{
    background-color: var(--ruddy-skin);
    border-radius: 3px;
    padding: 40px 36px;
    transition: all linear 0.5s;
}
.profile-items:hover{
    transition: all linear 0.5s;
    transform: scale(1.02,1.02);
    background-color: rgb(207, 208, 211,0.8);
}
.profile-items img{
    border-radius: 50%;
}
.profile-desc::after{
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    margin:16px auto 0;
    background-color: var(--red);
}
.profile-items .profile-name{
    margin-bottom: 7px;
    font-size: 18px;
}
.profile-items .profile-job{
    font-size: 17px;
    font-weight: 400;
}

/* swiperjs-pagination */
.swiper-pagination{
    position:relative;
}
.swiper-pagination-bullet{
    width: 0.9375rem;
    height: 0.9375rem;
    border: 3px solid transparent;
    border-radius: 50%;
    transform: scale(.7);
    transition: all .3s ease-in-out;
    opacity: .7;
}
.swiper-pagination-bullet:hover:not(.swiper-pagination-bullet-active){
    background-color: var(--gray);
}
.swiper-pagination-bullet-active{
    background-color: var(--red);
    border: var(--red);
    transform: scale(.8);
}   

/* sixth-content */
.sixth-content{
    background:url(./img/contact.jpg) bottom no-repeat;
    padding:83px 0 68px;
}
.contact-wrapper{
    padding-bottom: 24px;
}
.contact-title{
    width: 100%;
    font-size:25px;
    line-height: 30px; 
}
.contact-btn{
    border-radius: 30px;
    border-width: 2px;
    border-color: var(--red);
    background-color: var(--white);
    color: var(--red);
}
.contact-btn:hover{
    background-color: var(--red);
    color: var(--white);
}
/* seventh-content */
.seventh-content{
    display:flex;
    margin:0 -15px;
}
.seventh-wrapper{
    padding:0 15px;
    flex:1;
    text-align: left;
}
.email-contact{
    padding: 8px 12px;
    background-color: #eceff3;
    font:14px/1.4 'Poppins',sans-serif;
    width: 100%;
}
.btn-subscribe{
    background-color: var(--black);
    color: var(--white);
}
.btn-subscribe:hover{
    color:var(--black);
    background-color: var(--white);
}
.media-contact{
    border: 1px solid #cfc8c8;
    border-radius: 50%;
    padding: 3px 6px;
    margin-right: 10px;
    font:14px/1.4 'Poppins',sans-serif;
    transition: all ease-in-out .5s;
}
.media-contact:hover{
    background-color: var(--gray);
}
.media-contact i{
    transition: all ease-in-out .5s;
    color: var(--black);
}
.media-contact:hover i{
    color:var(--white);
}
.bottom-link{
    display: flex;
}
/* footer */
hr{
    border: 0;
    border-bottom: 1px solid gainsboro; /* neutral light grey color */
}
.footer-container{
    display:flex;
}
.footer-wrapper{
    flex:1;
    margin-bottom: 30px;
}
.footer-wrapper a{
    text-decoration: none;
    color: var(--red);
    cursor: pointer;
}
.footer-wrapper:first-child{
    text-align: left;
}
.footer-wrapper:last-child{
    text-align: right;
}
